.base {
  text-align: center;
  padding: var(--space-2) var(--space-3);
  border-radius: var(--space-1);
  cursor: pointer;
  font-size: var(--text-size-sm);
  line-height: var(--text-line-sm);
  border: none;
}

.stretch {
  width: 100%;
}

.primary {
  color: var(--color-white);
  background-color: var(--color-bg-btn-primary);
  box-shadow:
    0px 1px 2px 0 rgb(0 0 0 / 0.06),
    0px 1px 3px 0 rgb(0 0 0 / 0.1);
}

.primary:hover,
.primary:focus {
  background-color: var(--color-bg-btn-primary-hover);
}

.primary:focus {
  box-shadow: 0px 0px 0px 4px
    rgb(0.2666666805744171 0.2980392277240753 0.9058823585510254 / 0.12);
}

.disabled {
  color: var(--color-btn-disabled);
  background-color: var(--color-bg-btn-disabled);
  cursor: not-allowed;
}
