.newsletter {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--space-8) var(--space-3);
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.newsletter__info {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.newsletter__heading {
  font-weight: 600;
  font-size: var(--text-size-xl);
  line-height: var(--text-line-xl);
  color: var(--color-text-heading);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.newsletter__fieldContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.newsletter__image {
  height: 280px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--space-4);
}

/* Tablet breakpoint */
@media (min-width: 640px) {
  .newsletter {
    padding: var(--space-16) var(--space-8);
  }

  .newsletter__info {
    gap: var(--space-16);
  }

  .newsletter__heading {
    font-size: var(--text-size-xxl);
    line-height: var(--text-line-xxl);
  }

  .newsletter__image {
    height: 608px;
  }

  .newsletter__form {
    flex-direction: row;
  }
}

/* Desktop breakpoint */
@media (min-width: 1024px) {
  .newsletter {
    flex-direction: row;
    align-items: center;
    padding: var(--space-16);
  }

  .newsletter__info {
    flex: 1;
  }

  .newsletter__image {
    flex: 1;
  }
}

@media (min-width: 1700px) {
  .newsletter {
    max-width: 1700px;
    margin: auto;
  }
}
